.rangeTop {
    display: none !important;
}

.rangeWrapper {
    border-radius: 10px;

    &::before,
    &:after {
        content: none;
    }
}

.range_line {
    height: 4px;
    width: 100%;
    background-color: #0a84ff;
    margin: 15px 6px;
    border-radius: 10px;
}

.rangeLine {
    border-radius: 10px;
}

.rangeBubble {
    display: none;
}

.totalAmountSpan {
    margin-left: 12px;
    width: 100%;
    max-width: 44px;
    display: block;
    text-align: right;
}

.navButton {
    &_text {
        color: #8e8e93;
        font-size: 13px;
        line-height: 18px;
        letter-spacing: -0.078px;
        text-transform: uppercase;
    }

    &_button {
        padding: 13px 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        font-size: 17px;
        line-height: 22px;
        letter-spacing: -0.43px;
        background-color: #fff;
        border: 0;
        border-radius: 10px;
        color: #000;
    }
}

.listItem {
    &_input {
        color: #000;
        max-width: 60px;
        border: 0;
        outline: 0;
        text-align: right;
        font-size: 17px;
        line-height: 22px;
        letter-spacing: -0.43px;
        pointer-events: none;
        margin-left: 17px;

        &:focus {
            pointer-events: all;
        }
    }

    &_title {
        color: #8e8e93;
    }
}

.step_delete {
    color: #ff3b30;
    line-height: 22px;
    letter-spacing: -0.31px;
    font-size: 16px;
    border: 0;
    background-color: transparent;
    display: inline;
}

.lists {
    display: grid;
    gap: 16px;

    &_btn {
        background-color: transparent;
        border: 0;
        margin: 0 auto;
        display: flex;
        align-items: center;
        color: #007aff;
        font-size: 17px;
        line-height: 22px;
        letter-spacing: -0.43px;

        &_icon {
            margin-right: 8px;
        }
    }
}

.wrapper {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.123s ease-in-out;
    &__active {
        grid-template-rows: 1fr;
    }
}

.tabs {
    padding: 2px 3px;
    border-radius: 8px;
    background-color: rgba(116, 116, 128, 0.08);
    display: flex;
    align-items: center;
    justify-content: space-between;

    &_button {
        outline: none;
        flex-grow: 1;
        flex-basis: 50%;
        border-radius: 7px;
        background-color: transparent;
        border: 0;
        padding: 5px 18px;
        color: #000;
        font-size: 13px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: -0.078px;

        &:disabled {
            color: #8e8e93;
        }

        &__active {
            font-weight: 590;
            background-color: #fff !important;
            border: 0.5px solid rgba(116, 116, 128, 0.08);
            box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.12),
                0px 3px 1px rgba(0, 0, 0, 0.04);
        }
    }
}
