@font-face {
    font-family: "SF Pro";
    src: url("SF-Pro.ttf") format("truetype");
    font-stretch: normal;
    // src: url("SF-Pro.ttf") format("truetype"),
}

@font-face {
    font-family: "SFRounded";
    src: url("SFRounded-Bold.eot");
    src: local("SFRounded Bold"), local("SFRounded-Bold"),
        url("SFRounded-Bold.eot?#iefix") format("embedded-opentype"),
        url("SFRounded-Bold.woff2") format("woff2"),
        url("SFRounded-Bold.woff") format("woff"),
        url("SFRounded-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "SFRounded";
    src: url("SFRounded-Semibold.eot");
    src: local("SFRounded Semibold"), local("SFRounded-Semibold"),
        url("SFRounded-Semibold.eot?#iefix") format("embedded-opentype"),
        url("SFRounded-Semibold.woff2") format("woff2"),
        url("SFRounded-Semibold.woff") format("woff"),
        url("SFRounded-Semibold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "SFProDisplay";
    src: url("SFProDisplay-Regular.eot");
    src: local("SFProDisplay Regular"), local("SFProDisplay-Regular"),
        url("SFProDisplay-Regular.eot?#iefix") format("embedded-opentype"),
        url("SFProDisplay-Regular.woff2") format("woff2"),
        url("SFProDisplay-Regular.woff") format("woff"),
        url("SFProDisplay-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
