.top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    &_title {
        font-family: "Sf Pro Display", sans-serif;
        font-size: 28px;
        font-weight: 700;
        line-height: 34px;
        letter-spacing: 0.38px;
    }

    &_subtitle {
        color: #8e8e93;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: -0.23px;
    }
}

.placeholder_color {
    color: rgba(142, 142, 147, 1);
    font-weight: 400;
}

.navButton {
    padding: 13px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-weight: 510;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.43px;
    background-color: #fff;
    border: 0;
    color: #000;
    text-decoration: none;

    & + & {
        border-top: 1px solid #f2f2f7;
    }

    &:first-of-type {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    &:last-of-type {
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    &_text {
        color: #8e8e93;
        font-size: 13px;
        line-height: 18px;
        letter-spacing: -0.078px;
        text-transform: uppercase;
    }

    .content {
        display: flex;
        align-items: center;
        gap: 12px;

        &_info {
            display: flex;
            flex-direction: column;

            &_title {
                color: #000;
                font-size: 17px;
                font-weight: 510;
                line-height: 22px;
                letter-spacing: -0.43px;

                span {
                    color: #8e8e93;
                }
            }

            &_block {
                font-size: 12px;
                font-weight: 400;
                line-height: 16px;

                .circle {
                    width: 4px;
                    height: 4px;
                    display: inline-block;
                    margin: 0 6px;
                    background-color: #c8c7cb;
                    border-radius: 50%;
                    vertical-align: middle;
                }

                .green {
                    color: #34c759;
                }

                .red {
                    color: #ff3b30;
                }
            }
        }
    }

    &_icon {
        transition: translate 0.123s ease-in-out;
        margin-left: 12px;
    }
}

.input {
    pointer-events: none;
    width: 100%;
    padding: 13px 16px;
    border-radius: 10px;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.43px;
    color: #000;
    border: 0;
    outline: 0;

    &:focus {
        pointer-events: all;
    }

    &:focus::placeholder {
        color: transparent;
    }

    &::placeholder {
        color: rgba(142, 142, 147, 1);
    }

    &__placeholder::placeholder {
        color: #000;
        font-size: 20px;
        translate: 0 6px;
    }

    &_label {
        display: block;
    }
}
