.wrapper {
    width: 100%;
    height: var(--tg-viewport-height);
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes icon {
    0% {
        opacity: 1;
    }
    20% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.icon {
    animation: icon 1.5s infinite ease-in-out alternate;
}
