.container {
    max-width: 390px;
    min-height: 100vh;
    padding: 24px 16px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    &_title {
        font-size: 28px;
        font-weight: 700;
        line-height: 34px;
        letter-spacing: 0.38px;
    }

    &_subtitle {
        color: #8e8e93;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: -0.23px;
    }
}

.btn__primary {
    color: #fff;
    font-size: 17px;
    font-weight: 590;
    line-height: 22px;
    letter-spacing: -0.43px;
    border: 0;
    background-color: #007aff;
    border-radius: 10px;
    padding: 10px 16px;
    cursor: pointer;
    flex-grow: 1;
}

.cell_description {
    color: #8e8e93;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.078px;
}

.list_item_span {
    color: #000;
}

.list_item_input {
    color: #000;
    max-width: 100px;
    border: 0;
    outline: 0;
    text-align: right;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.43px;
    pointer-events: none;

    &:focus {
        pointer-events: all;
    }
}

.tabs {
    padding: 2px 3px;
    border-radius: 8px;
    background-color: rgba(116, 116, 128, 0.08);
    display: flex;
    align-items: center;
    justify-content: space-between;

    &_button {
        &,
        &:hover,
        &:focus,
        &:active {
            flex-grow: 1;
            flex-basis: 50%;
            background-color: transparent;
            padding: 5px 14px;
            color: #000;
            font-size: 13px;
            line-height: 18px;
            letter-spacing: -0.078px;
            border: 0.5px solid transparent;
            border-radius: 6.93px;
        }

        &:disabled {
            color: #8e8e93;
        }

        &__active {
            pointer-events: none;
            border-radius: 6.93px;
            border-color: rgba(116, 116, 128, 0.08);
            background: #fff;
            box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.04),
                0px 3px 8px 0px rgba(0, 0, 0, 0.12);
        }

        span {
            padding: 0 4px;
            margin-left: 6px;
            background-color: #ff9500;
            border-radius: 38px;
            color: #fff;
            font-size: 12px;
            font-weight: 400;
            line-height: 16px;
        }
    }
}

.listItem_wrapper {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.123s ease-in-out;
    &__active {
        grid-template-rows: 1fr;
    }
}
