.navButton {
    &_text {
        color: #8e8e93;
        font-size: 13px;
        line-height: 18px;
        letter-spacing: -0.078px;
        text-transform: uppercase;
    }

    &_button {
        padding: 13px 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        font-size: 17px;
        line-height: 22px;
        letter-spacing: -0.43px;
        background-color: #fff;
        border: 0;
        border-radius: 10px;
        color: #000;
    }
}

.listItem {
    &_title {
        color: #8e8e93;
    }

    &_input {
        color: #000;
        max-width: 100px;
        border: 0;
        outline: 0;
        text-align: right;
        font-size: 17px;
        line-height: 22px;
        letter-spacing: -0.43px;
        pointer-events: none;

        &:focus {
            pointer-events: all;
        }
    }
}

.switch {
    &_title {
        color: #000;
    }
}

.progressbar {
    border-radius: 8px;
    width: 100%;
    background-color: #f2f2f7;
    height: 4px;

    &_bar {
        height: 100%;
        border-radius: 8px;
        background-color: #0a84ff;
        display: block;
    }
}

.step_delete {
    color: #ff3b30;
    line-height: 22px;
    letter-spacing: -0.31px;
    font-size: 16px;
    border: 0;
    background-color: transparent;
    display: inline;
}

.lists {
    display: grid;
    gap: 16px;

    &_btn {
        background-color: transparent;
        border: 0;
        margin: 0 auto;
        display: flex;
        align-items: center;
        color: #007aff;
        font-size: 17px;
        line-height: 22px;
        letter-spacing: -0.43px;

        &_icon {
            margin-right: 8px;
        }
    }
}

.wrapper {
    display: grid;
    grid-template-rows: 0fr;
    pointer-events: none;
    transition: grid-template-rows 0.123s ease-in-out;
    &__active {
        grid-template-rows: 1fr;
        pointer-events: all;
    }
}

.list_input {
    color: #000;
    max-width: 100px;
    border: 0;
    outline: 0;
    text-align: right;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.43px;
    pointer-events: none;

    &:focus {
        pointer-events: all;
    }
}

.black_color {
    color: #000;
}
