.container {
    max-width: 600px;
    padding: 24px 16px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    &_title {
        font-size: 28px;
        font-weight: 700;
        line-height: 34px;
        letter-spacing: 0.38px;
    }

    &_subtitle {
        color: #8e8e93;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: -0.23px;
    }
}

.black_color {
    color: #000;
}

.order_wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 10px 16px;
}

.order_item {
    border: 0 !important;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.154px;
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 24px;
    color: #8e8e93;
}

.status {
    &__green {
        color: #30d158;
    }

    &__orange {
        color: #ff9f0a;
    }

    &__red {
        color: #ff453a;
    }

    &__blue {
        color: #0a84ff;
    }
}
