.wrapper {
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.43px;
    position: relative;
    display: block;

    & + & {
        border-top: 1px solid #f2f2f7;
    }
}

.inner {
    transition: padding 0.123s ease-in-out;
    overflow: hidden;
}
