.dropdown {
    color: #000;
    margin-left: 12px;

    &_select {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    &_list {
        position: absolute;
        z-index: 2;
        top: calc(100% + 1px);
        right: 16px;
        box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.2);
        background-color: #fff;
        border-radius: 12px;
        display: grid;
        grid-template-rows: 0fr;

        &__active {
            grid-template-rows: 1fr;
            transition: grid-template-rows 0.123s ease-in-out;
        }

        &__active &_wrapper {
            padding: 0;
        }

        &_wrapper {
            overflow: hidden;
        }

        &_item {
            display: flex;
            align-items: center;
            gap: 20px;

            span {
                font-weight: 590;
            }

            & + & {
                border-top: 0.33px solid rgba(60, 60, 67, 0.36);
            }

            &:first-of-type {
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
            }

            &:last-of-type {
                border-bottom-right-radius: 10px;
                border-bottom-left-radius: 10px;
            }
        }
    }
}
