.dropdown {
    color: #000;
    margin-left: 12px;

    &_select {
        display: flex;
        align-items: center;
        gap: 5px;
        color: #007aff;
        text-align: right;
    }

    &_list {
        position: absolute;
        z-index: 2;
        top: calc(100% + 1px);
        right: 16px;
        box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.2);
        background-color: #fff;
        border-radius: 12px;
        display: grid;
        grid-template-rows: 0fr;
        pointer-events: none;

        &__active {
            grid-template-rows: 1fr;
            pointer-events: all;
            transition: grid-template-rows 0.123s ease-in-out;
        }

        &__active &_wrapper {
            padding: 0;
        }

        &__up {
            top: auto;
            bottom: calc(100% + 1px);
        }

        &_wrapper {
            overflow: hidden;
        }

        &_item {
            display: flex;
            align-items: center;
            gap: 20px;
            user-select: none;

            &_wrapper {
                & + & {
                    border-top: 1px solid rgba(242, 242, 247, 1);
                }
            }

            &__disabled {
                opacity: 0.3;
                pointer-events: none;

                &_color {
                    color: rgba(142, 142, 147, 1);
                }
            }

            span {
                font-weight: 590;
            }

            &:first-of-type {
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
            }

            &:last-of-type {
                border-bottom-right-radius: 10px;
                border-bottom-left-radius: 10px;
            }
        }
    }
}

.mark {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #ffffff;
    padding: 0px 4px;
    background: #ff9500;
    border-radius: 38px;
}
