.container {
    max-width: 390px;
    padding: 24px 16px;
    margin: 0 auto;
    display: grid;
    gap: 24px;
}

.top {
    text-align: center;

    &_title {
        font-size: 28px;
        line-height: 34px;
        letter-spacing: 0.38px;
        margin-bottom: 8px;
        font-weight: 700;
        color: #000;
    }

    &_subtitle {
        font-size: 15px;
        line-height: 18px;
        letter-spacing: -0.23px;
        color: #8e8e93;
    }
}

.tabs {
    padding: 2px 3px;
    border-radius: 8px;
    background-color: rgba(116, 116, 128, 0.08);
    display: flex;
    align-items: center;
    justify-content: space-between;

    &_button {
        &,
        &:hover,
        &:focus,
        &:active {
            outline: none;
            flex-grow: 1;
            flex-basis: 50%;
            border-radius: 7px;
            background-color: transparent;
            border: 0;
            padding: 5px 14px;
            color: #000;
            font-size: 13px;
            line-height: 18px;
            letter-spacing: -0.078px;
        }

        &:disabled {
            color: #8e8e93;
        }

        &__active {
            pointer-events: none !important;
            background-color: #fff !important;
        }
    }
}
