.cell {
    &_title {
        color: #8e8e93;
        font-size: 13px;
        line-height: 18px;
        letter-spacing: -0.078px;
        text-transform: uppercase;
    }

    &_list {
        border-radius: 10px;
        background-color: #fff;
    }

    &_description {
        color: #8e8e93;
        font-size: 13px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: -0.078px;
    }
}
