@import url("./assets/fonts/index.scss");

* {
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-family: "SF Pro", sans-serif;
}

html {
    background-color: #f2f2f7;
}

button,
input,
select,
textarea,
a {
    outline: none;
}
