html {
  height: var(--tg-viewport-stable-height, 100vh);
  overscroll-behavior: none;
  overflow: hidden;
}

body {
  background-color: #fff;
  overscroll-behavior: none;
  overflow: auto;
}

#root {
  min-height: 100vh;
  background: linear-gradient(6deg, rgba(0, 255, 46, 1) 0%, rgba(0, 1, 255, 1) 100%);
}

.content {
  height: 1200px;
}

.block {
  height: 500px;
  background-color: crimson;
}