@import url("./assets/fonts/index.scss");

* {
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "SF Pro Text", sans-serif;
}

html {
    background-color: #f2f2f7;
}

body {
    font-weight: 400;
}

button,
input,
select,
textarea,
a {
    outline: none;
}

.confirm_color {
    color: #34c759 !important;
}

.destructive_color {
    color: #ff3b30 !important;
}
