.container {
    max-width: 600px;
    padding: 24px 16px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
    min-height: 100vh;
}

.top {
    text-align: center;

    &_title {
        font-family: "Sf Pro Display", sans-serif;
        font-size: 28px;
        line-height: 34px;
        letter-spacing: 0.38px;
        margin-bottom: 8px;
        font-weight: 700;
        color: #000;
    }

    &_subtitle {
        font-size: 15px;
        line-height: 18px;
        letter-spacing: -0.23px;
        color: #8e8e93;
    }
}

.tabs {
    padding: 2px 3px;
    border-radius: 8px;
    background-color: rgba(116, 116, 128, 0.08);
    display: flex;
    align-items: center;
    justify-content: space-between;

    &_button {
        &,
        &:hover,
        &:focus,
        &:active {
            outline: none;
            flex-grow: 1;
            flex-basis: 50%;
            border-radius: 7px;
            background-color: transparent;
            border: 0;
            padding: 5px 14px;
            color: #000;
            font-size: 13px;
            line-height: 18px;
            letter-spacing: -0.078px;
        }

        &:disabled {
            color: #8e8e93;
        }

        &__active {
            pointer-events: none !important;
            background-color: #fff !important;
        }
    }
}

.paddingBlock {
    padding: 4px 16px;
}

.wrapper_flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blockList {
    &_item {
        background-color: #fff;
        padding: 13px 16px;
        font-size: 17px;
        line-height: 22px;
        letter-spacing: -0.43px;
        color: #8e8e93;

        & + & {
            border-top: 1px solid #f2f2f7;
        }

        &:first-of-type {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }

        &:last-of-type {
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;
        }

        &_title {
            color: #8e8e93;
        }

        &_span {
            color: #000;
            margin-left: 17px;
        }
    }

    &_description {
        color: #8e8e93;
        font-size: 13px;
        line-height: 18px;
        letter-spacing: -0.078px;
        padding: 4px 16px;
    }
}

.switch {
    &_title {
        color: #000;
    }
}

.progressbar {
    border-radius: 8px;
    width: 100%;
    background-color: #f2f2f7;
    height: 4px;

    &_bar {
        height: 100%;
        border-radius: 8px;
        background-color: #0a84ff;
        display: block;
    }
}

.step_delete {
    color: #ff3b30;
    line-height: 22px;
    letter-spacing: -0.31px;
    font-size: 16px;
    border: 0;
    background-color: transparent;
    display: inline;
}

.lists {
    display: grid;
    gap: 16px;

    &_btn {
        background-color: transparent;
        border: 0;
        margin: 0 auto;
        display: flex;
        align-items: center;
        color: #007aff;
        font-size: 17px;
        line-height: 22px;
        letter-spacing: -0.43px;

        &_icon {
            margin-right: 8px;
        }
    }
}
